/*=============== HEADER ===============*/
.header {
    width: 100%;
    height: var(--header-height);
    background-image: linear-gradient(0 , #ff6533, #f53d2d);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.nav__item {
    display: inline-block;
    position: relative;

}

.nav__list-right .nav__item {
    margin: 0 9px;
}

.nav__list-left .nav__item {
    margin: 0 7px;
}

.nav__link {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color-light);
    line-height: 1.3rem;
}

.nav__icon {
    margin: 0 3px;
    font-size: 1.2em;
    color: var(--text-color-light);
}

.nav__item:hover > .nav__item-icon,
.nav__item:hover > .nav__link{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.nav__item-text {
    color: var(--text-color-light);
    cursor: text;
}

.separate-size-s::after,
.separate__size-m::after {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 2px #f96c5c;
    height: 14px;
    right: -11px;
    top: 0; 
}

.separate-size-s::after {
    border-left: solid 1px #fa8e82;
    right: -12px;
}

/*========== QR CODE ==========*/
.nav__item-qrcode {
    position: relative;
}

.nav__item-qrcode:hover .qr-code{
    display: block;
}

.qr-code {
    position: absolute;
    top: 100%;
    left: 0;
    width: 178px;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    margin-top: 10px;
    display: none;
    z-index: 1;
}

.qr-code__image {
    width: 100%;
    border-radius: var(--border-radius);
}

.qr-code__apps {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px;
    padding-left: 0;
}

.qr-code__apps img {
    height: 1.7rem;
}

/* Bridge to hover from nav__link of nav__item-qrcode to qr-code */
.qr-code::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -15px;
    width: 90px;
    height: 30px;
}

/*========== NOTIFY ==========*/
.nav__item-notify {
    position: relative;
}

.nav__item-notify:hover .notify {
    display: block;
}

/* Bridge to hover */
.nav__item-notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 30px;
}

/* Arrow of block*/
.nav .notify::before {
    content: "";
    border-width: 20px 40px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}

.nav .notify {
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    right: 0;
    top: 100%;
    margin-top: 10px;
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: solid 1px #eee;
    transform-origin: right top ;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
 
/*========== NOTIFY NO LOGIN */
.nav .notify--no-login {
    font-size: var(--normal-font-size);
    height: 350px;
    cursor: default;
}

.nav .notify--no-login__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 304px;
}

.nav .notify--no-login__image img{
    width: 25%;
}

.nav .footer-button {
    display: flex;
}

.nav .footer-button button{
    color: var(--text-color);
    flex: 1;
    padding: 15px 0;
    border: none;
    cursor: pointer;
}

/*=============== HEADER CONTENT ===============*/
.header__content {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

/*========== LOGO ==========*/
.logo__image{
    width: 162px;
    height: 50px;
    margin-right: 40px;
    transform: translateY(-15%);
}

/*========== SEARCH ==========*/
.search {
    width: 840px;
    height: 60px;
    flex: 1;
}

/*===== SEARCH BAR =====*/
.search__bar {
    height: 40px;
    padding: 3px;
    background-color: var(--white-color);
    max-width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/*===== SEARCH INPUT*/
.search__input{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-left: 7px;
    flex: 1;
}

.search__input:focus + .search__input--suggestions {
    display: block;
}

/*===== SEARCH INPUT SUGGESTION*/
.search__input--suggestions {
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
    background-color: var(--white-color);
    width: calc(100% - var(--search-btn-witdth) - 10px);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%);
    border-radius: var(--border-radius);
    display: none;
}

.input__suggestion {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--white-color);
}

.input__suggestion:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.input__suggestion:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.input__suggestion:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.input__link {
    color: var(--black-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.input__img {
    height: 24px;
}

/*===== SEARCH INPUT BUTTON*/
.search-btn {
    width: 60px;
    height: 34px;
    background-color: #fb5533;
    color: var(--white-color);
    font-size: var(--normal-font-size);
    border-radius: var(--border-radius);
}
.search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}

/*===== SEARCH SUGGESTION*/
.search__suggestions {
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.search__suggestions li {
    display: inline-block;
    margin-right: 10px;
}

.search__suggestion-item{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-small);
    color: var(--white-color);
}

/*========== CART ==========*/
.cart {
    color: var(--white-color);
    font-size: 2.5rem;
    width: 60px;
    text-align: center;
    position: relative;
    margin: 0 50px;
    padding: 10px 0;
    cursor: pointer;
}

.cart__notify {
    position: absolute;
    top: 100%;
    right: 1px;
    width: 400px;
    background-color: #fefefe;
    border-radius: var(--border-radius);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%);
    color: var(--text-color);
    display: none;
    border: solid 1px #eee;
    z-index: 1;
}

.cart__no-product {
    cursor: default;
    height: 250px;
}

.cart:hover .cart__notify {
    display: block;
}

.no-product__img {
    width: 25%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.no-product__description {
    font-size: var(--normal-font-size);
}

.cart__notify::before {
    content: "";
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -20px;
    right: 12px;
}


/*=============== BODY ===============*/

/*========== HOME BANNERS ==========*/
.container__background {
    background-image: url(../image/background_banner/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.home-banner__container {
    padding-top: 30px;
}

.banner__list {
    display: flex;
    height: 235px;
}

/*========== BANNER LEFT ==========*/
.banner__left {
    margin: 0 5px 0 0;
    flex: 2;
}

.banner__left-sliders {
    border-radius: 2px;
    max-height: 100%;
}

/*========== BANNER RIGHT ==========*/
.banner__right {
    height: 100%;
    flex: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner__right-item {
    height: 115px;
    border-radius: 2px;
}

/*========== CONVENIENT ==========*/
.convenient {
    flex: 1;
    background-color: var(--white-color);
    margin-top: 10px;
    height: 108px;
    align-items: flex-end;
}

.convenient__item {
    min-width: 150px;
    font-size: var(--small-font-size);
    color: #222;
    text-align: center;
    transition: .3s;
}

.convenient__img {
    width: 45px;
    height: 45px;
    margin-bottom: 4px;
}

.convenient__description {
    margin: 0 0 8px 0;
    height: 30px;
}

.convenient__item:hover {
    transform: translateY(-2px);
}

/*========== MENU ==========*/
.menu__title {
    color: rgba(0,0,0,.54);
}

.menu__item {
    min-width: 120px;
    font-size: var(--normal-font-size);
    color: rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    text-align: center;
}

.menu__item:hover {
    border-color: rgba(0,0,0,.12);
    box-shadow: 0 0 .8125rem 0 rgba(0,0,0,.05);
}

.menu__img {
    width: 83.3px;
    height: 88px;
    margin-top: 12px;
}

.menu__description {
    height: 4rem;
    margin: 0 0.5rem 1rem;
    padding: 0;
    line-height: 2rem;
}

/*========== FLASH SALE ==========*/
.flash-sale__logo {
    height: 30px;
    width: 130px;
    background-image: url(../image/flashSale/logoFlashSale.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.flash-sale__item {
    min-width: 200px;
    height: 240px;
}

.flash-sale__imgs {
    margin: 5px 13.5px;
    position: relative;
}

.flash-sale__imgs {
    max-width: 173px;
    max-height: 173px;
}

.flash-sale__cost {
    min-width: 170px;
    line-height: 2.6rem;
    font-size: 2.17rem;
    text-align: center;
    color: var(--orange-color);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash-sale__cost .cost-space {
    margin-right: 5px;
}

.flash-sale__saled {
    margin: 0 15px 15px;
    padding: 0 7px;
    height: 16px;
    background: url(../image/flashSale/backgroundSaled.png) 0 100% no-repeat;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    position: relative;
}
.flash-sale__saled .saled {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.8rem;
    z-index: 2;
    white-space: nowrap;
}

.flash-sale__saled .ratioExtant {
    height: 100%;
    background-color: #ffbda6;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.flash-sale__saled .sold-out {
    background: url(../image/flashSale/sold-out.png) 0 no-repeat;
    width: 18px;
    height: 21px;
    background-size: contain;
    position: absolute;
    left: 3px;
    top: -7px;
}

/*========== SKINNY BANNER ==========*/
.skinny-banner__list {
    flex: 1;
    cursor: pointer;
}
.skinny-banner__item {
    width: 400px;
    height: 110px;
}

/*========== MALL ==========*/
/*===== MALL HEADER*/
.mall__title {
    color: var(--red-color);
}

/*===== MALL CONTENT*/
.mall__content {
    display: flex;
}

/*===== MALL SLIDER*/
.mall__slider {
    margin: 10px 0 0 10px;
    width: 390px;
    height: 464px;
}

.mall__slider-img {
    min-width: 100%;
}

/*===== MALL MENU*/
.mall__menu {
    width: 800px;
}

.mall__item {
    margin: 10px;
    position: relative;
    width: 180px;
    height: 216px;
}
.mall__img {
    width: 100%;
    height: 100%;
}

.mall__description {
    position: absolute;
    bottom: 12px;
    left: 50%;
    line-height: 27px;
    font-size: 18px;
    transform: translateX(-50%);
    white-space: nowrap;
    color: var(--red-color);
    margin: 0;
}

.mall__item--last {
    position: relative;
    width: 180px;
    height: 216px;
}

/*========== SUGGESTION ==========*/
/*===== SUGGESTION HEADER*/
.suggestion__nav {
    display: flex;
    flex: 1;
}

.suggestion__header {
    position: relative;
    padding: 0;
}

.suggestion__nav-item {
    width: 252px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange-color);
    padding: 20px 0;
}

.suggestion__nav-item img {
    height: 2rem;
}

.nav-item__underline {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: var(--orange-color);
    transition: opacity .3s;
}

/*===== SUGGESTION CONTENT*/
.suggestion__content {
    background-color: var(--gray-color);
}

.suggestion__content-item {
    display: none;
}

.suggestion__content-item.suggestion__content--active {
    display: block;
}

/*===== SUGGESTION PRODUCT*/
.suggestion__product {
    background-color: var(--white-color);
    margin: 5px;
    border-radius: var(--border-radius);
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.1);
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
}

.suggestion__product-image {
    position: relative;
    width: 188px;
    height: 188px;
}

.suggestion__product-content {
    width: 188px;
    height: 98px;
    padding: 10px;
}

.product__notify {
    height: 49px;
}

.product__name {
    line-height: 1.4rem;
    font-size: var(--smaller-font-size);
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.section__product-description {
    margin-top: 5px;
    justify-content: space-between;
}

.product__price {
    color: var(--orange-color);
}

.product__price .price{
    font-size: var(--big-font-size);
}

.product__saled {
    font-size: var(--smaller-font-size);
    color: rgba(0,0,0,.54);
    margin-left: 5px;
}

.suggestion__product:hover {
    border: 1px solid var(--orange-color);
    z-index: 1;
    transform: translateY(-1px);
    border-radius: 0;
}

/*===== SUGGESTION CART*/
.suggestion__product-cart--hover {
    position: absolute;
    top: calc(100%) ;
    left: -1px;
    width: 190px;
    height: 32px;
    font-size: var(--normal-font-size);
    line-height: 30px;
    padding: 0 19px;
    color: var(--white-color);
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: none;
}

.suggestion__product:hover .suggestion__product-cart--hover {
    display: block;
    transition: opacity 0.1s;
}

/*===== SUGGESTION BUTTON*/
.see-more {
    display: flex;
    justify-content: center;
}

.see-more__btn {
    margin: 25px 0 60px;
    width: 390px;
    height: 40px;
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.09);
    color: #555;
    background-color: var(--white-color);
    text-transform: capitalize;
    font-size:  var(--normal-font-size);
    text-align: center;
    line-height: 40px;
}

.see-more__btn:hover {
    background: rgba(0,0,0,.02);
}

/*========== FOOTER ==========*/
footer {
    border-top: 4px solid var(--orange-color);
    background-color: var(--white-color);
}

.footer__list {
    margin-top: 60px;
}

.footer__item-header {
    font-weight: bold;
    text-transform: uppercase;
}

.footer__item-description {
    font-size: var(--smaller-font-size);
    padding: 5px 0;
}

/*========== BANNER FIXED ==========*/
.banner-fixed {
    width: 82px;
    height: 82px;
    background-image: url(../image/fixed/fixed.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 150px;
    right: 240px;
    z-index: 2;
}



