

/* begin Header */
.header-with-search .logo:hover ,
.cart:hover,
.nav-sub-search li:hover,
.cart-icon:hover {
    cursor: pointer;
}

.header {
    width: 100%;
    height: var(--header-height);
    background-image: linear-gradient(0 , #ff6533, #f53d2d);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: var(--white-color);
}

.nav .nav__list-right,
.nav .nav__list-left {
    padding-left: 0;
    list-style: none;
    margin: 10px 0;
}

.nav__list-right .nav__item,
.nav__list-left .nav__item {
    position: relative;
}
.nav__list-right .nav__item {
    margin: 0 9px;
}
.nav__list-left .nav__item {
    margin: 0 7px;
}

.nav .nav__item,
.nav .nav__item-icon,
.nav .nav__item-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--white-color);
    display: inline-block;
    line-height: 1.3rem;
}
.nav .nav__item i {
    margin: 0 3px;
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
}

.nav .nav__item:hover,
.nav .nav__item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.nav__item-text {
    color: var(--white-color);
    cursor: text;
}

.nav .separate-size-s::after,
.nav .separate__size-m::after {
    content: "";
    display: block;
    position: absolute;
    border-left: solid 2px #f96c5c;
    height: 14px;
    right: -10px;
    top: 50%; 
    transform: translateY(-50%);
}

.nav .separate-size-s::after {
    border-left: solid 1px #fa8e82;
    right: -12px;
}

.nav .nav__item-qrcode {
    position: relative;
}
.nav .nav__item-qrcode:hover .qr-code{
    display: block;
}
.nav .qr-code {
    position: absolute;
    top: 100%;
    left: 0;
    width: 178px;
    background-color: var(--white-color);
    border-radius: 2px;
    margin-top: 10px;
    display: none;
    z-index: 1;
}
.nav .qr-code__image {
    width: 100%;
    border-radius: 2px;
}
.nav .qr-code__app {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px;
    list-style: none;
    padding-left: 0;
}
.nav .qr-code__app img {
    height: 1.7rem;
}
.nav .navbar-notification {
    position: relative;
}
.nav .navbar-notification:hover .notification-container {
    display: block;
}
.qr-code::after,
.navbar-notification::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 30px;
}
.qr-code::after {
    left: 0;
    top: -20px;
}
.notification-cart::before,
.nav  .notification-container::before {
    content: "";
    border-width: 20px 40px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}
.notification-cart::before {
    border-width: 10px 10px;
    top: -20px;
    right: 12px;
    border-color: transparent transparent var(--white-color) transparent;

}
.nav .notification-container {
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    right: 0;
    top: 100%;
    margin-top: 10px;
    color: var(--text-color);
    border-radius: 2px;
    border: solid 1px #eee;
    transform-origin: right top ;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
 
.nav .notification-no-login {
    font-size: 1.4rem;
    height: 350px;
    cursor: default;
}
.nav .no-login-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 304px;
}
.nav .no-login-image img{
    width: 25%;
}
.nav .footer-button {
    display: flex;
}
.nav .footer-button button{
    color: var(--text-color);
    flex: 1;
    padding: 15px 0;
    border: none;
    cursor: pointer;
}

/* Search */
.header-with-search {
    margin-top: 13px;
    display: flex;
    align-items: center;
}

.header-with-search .logo .logo-image{
    width: 162px;
    height: 50px;
    margin-right: 40px;
    transform: translateY(-15%);
}
.header-with-search .search-bar {
    width: 840px;
    height: 60px;
    flex: 1;
}
.search-input{
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 7px;
    flex: 1;
    border: none;
    outline: none;
}

.search-input:focus ~ .search-input-suggestions {
    display: block;
}

.search-input-suggestions {
    position: absolute;
    top: calc(100% - 3px);
    left: -3px;
    padding-left: 0;
    list-style: none;
    background-color: var(--white-color);
    width: calc(100% - var(--search-btn-witdth) - 10px);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%);
    border-radius: 2px;
    display: none;
}

.suggestion-item {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--white-color);
}
.suggestion-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.suggestion-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.suggestion-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.suggestion-item__link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.suggestion-item__img {
    height: 24px;
}

.search-btn {
    width: 60px;
    height: 34px;
    background-color: #fb5533;
    color: var(--white-color);
    font-size: 1.4rem;
    border: none;
    border-radius: 2px;
}
.search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}
.search-main {
    width: 834px;
    height: 40px;
    padding: 3px;
    background-color: var(--white-color);
    max-width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%);
    border-radius: 2px;
    
}
.form-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cart {
    color: var(--white-color);
    font-size: 2.5rem;
    width: 50px;
    text-align: center;
    position: relative;
    margin: 0 50px;
    padding: 10px 0;
}

.notification-cart {
    position: absolute;
    top: 100%;
    right: 1px;
    width: 400px;
    background-color: #fefefe;
    border-radius: 2px;
    /* box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%); */
    color: var(--text-color);
    display: none;
    border: solid 1px #eee;
    z-index: 1;
}
.cart-no-product {
    font-size: 1.4rem;
    height: 250px;
    cursor: default;
}

.cart:hover .notification-cart {
    display: block;
}
.img-no-product {
    width: 25%;
    margin-top: 50px;
    margin-bottom: 10px;
}


.nav-sub-search {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}
.nav-sub-search li{
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: 300px;
    color: var(--white-color);
}
/* end Header */

/* begin Banner */
.background-item-container {
    background-image: url(../image/background_banner/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner_container {
    width: 100%;
    padding-top: 30px;

}

.banner_list {
    display: flex;
    overflow: hidden;
}
.banner-left {
    margin: 0 5px 0 0;
    flex: 2;
}
.banner-left-list-image {
    border-radius: 2px;

}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.banner-right {
    flex: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner-right-item {
    height: 115px;
    border-radius: 2px;
}
.category-hot {
    flex: 1;
    background-color: var(--white-color);
    margin-top: 10px;
    height: 108px;

    align-items: flex-end;
}
.category-item img{
    width: 45px;
    height: 45px;
    margin-bottom: 4px;
}
.category-item {
    min-width: 150px;
    font-size: 1.3rem;
    color: #222;
}
.category-item:hover {
    transform: translateY(-2px);
}
.category-item p {
    margin: 0 0 8px 0;
    height: 30px;
}
/* end Banner */

/* begin Big banner */
.body__banner-big {
    width: 100%;
    margin-top: 20px;
}
/* begin Menu */


.body__menu .menu-title {
    color: rgba(0,0,0,.54);
}

.menu-group {
    
}

.menu-list .menu-item {
    min-width: 120px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    text-align: center;
}

.menu-item:hover {
    border-color: rgba(0,0,0,.12);
    box-shadow: 0 0 .8125rem 0 rgba(0,0,0,.05);
}

.menu-list .menu-item img {
    width: 83.3px;
    height: 88px;
    margin-top: 12px;
}

.menu-item p {
    height: 4rem;
    margin: 0 0.5rem 1rem;
    padding: 0;
    line-height: 2rem;
}

/* begin Flash sale */
.body__flash-sale {

}
.logo-flash-sale {
    height: 30px;
    width: 130px;
    background-image: url(../image/flashSale/logoFlashSale.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.flash-sale-item {
    min-width: 200px;
    height: 240px;
}

.flash-sale-item__image {
    margin: 5px 13.5px;
    position: relative;
}

.flash-sale-item__image .main-image {
    max-width: 173px;
    max-height: 173px;
}

.footer-banner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.flash-sale-item__cost {
    min-width: 170px;
    line-height: 2.6rem;
    font-size: 2.17rem;
    text-align: center;
    color: var(--orange-color);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flash-sale-item__cost .cost-space {
    margin-right: 5px;
}

.denominations {
    height: 16px;
    font-size: 0.9rem;
    line-height: 1.6rem;
    text-decoration: underline;
}

.flash-sale-item__saled {
    margin: 0 15px 15px;
    padding: 0 7px;
    height: 16px;
    background: url(../image/flashSale/backgroundSaled.png) 0 100% no-repeat;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    position: relative;
}
.flash-sale-item__saled .saled {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.8rem;
    z-index: 2;
    white-space: nowrap;
}

.flash-sale-item__saled .ratioExtant {
    height: 100%;
    background-color: #ffbda6;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.flash-sale-item__saled .sold-out {
    background: url(../image/flashSale/sold-out.png) 0 no-repeat;
    width: 18px;
    height: 21px;
    background-size: contain;
    position: absolute;
    left: 3px;
    top: -7px;
}
/* end Flash sale */

/* begin Skinny banner */
.body__skinny-banner {
}
.skinny-banner-list {
    flex: 1;
    cursor: pointer;
}
.skinny-banner-item {
    width: 400px;
    height: 110px;
}

/* begin Mall */
.mall-title {
    color: var(--red-color);
}

.mall-slider {
    margin: 10px 0 0 10px;
    width: 390px;
    height: 464px;
}

.mall-slider-images img {
    min-width: 100%;
}

.mall-content {
    display: flex;
}

.mall-menu {
    width: 800px;
}

.mall-item {
    margin: 10px;
    position: relative;
    width: 180px;
    height: 216px;
}
.mall-item img {
    width: 100%;
    height: 100%;
}

.mall-item p {
    position: absolute;
    bottom: 12px;
    left: 50%;
    line-height: 27px;
    font-size: 18px;
    transform: translateX(-50%);
    white-space: nowrap;
    color: var(--red-color);
    margin: 0;
}

.last-item-mall {
    position: relative;
    width: 180px;
    height: 216px;
}

/* begin Suggestion */
.suggestion-nav {
    display: flex;
    flex: 1;
}

.suggestion-nav-item {
    width: 252px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange-color);
    padding: 20px 0;
}
.suggestion-header {
    position: relative;
    padding: 0;
}
.underline-nav-item {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: var(--orange-color);
    transition: opacity .3s;
}

.suggestion-nav-item img {
    height: 2rem;
}

.suggestion-content {
    background-color: var(--gray-color);
}

.suggestion-content-item {
    display: none;
}

.suggestion-content-item.suggestion-content--active {
    display: block;
}

.suggestion-product-container {
    
}
.suggestion-product {
    background-color: var(--white-color);
    margin: 5px;
    border-radius: 2px;
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.1);
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
}

.suggestion-product:hover {
    border: 1px solid #ee4d2d;
    z-index: 1;
    transform: translateY(-1px);
    border-radius: 0;
}

.car-product-hover {
    position: absolute;
    top: calc(100%) ;
    left: -1px;
    width: 190px;
    height: 32px;
    font-size: 1.4rem;
    line-height: 30px;
    padding: 0 19px;
    color: var(--white-color);
    background-color: var(--orange-color);
    border: 1px solid #ee4d2d;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none;
}

.suggestion-product:hover .car-product-hover {
    display: block;
    transition: opacity 0.1s;
}
.suggestion-product__image {
    position: relative;
    width: 188px;
    height: 188px;
}

.suggestion-product__image .main-image {
    width: 100%;
    height: 100%;
}

.suggestion-product__content {
    width: 188px;
    height: 98px;
    padding: 10px;
}

.product-notify {
    height: 49px;
}
.product-name {
    line-height: 1.4rem;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.product-description {
    margin-top: 5px;
    justify-content: space-between;
}

.product-price {
    color: var(--orange-color);
}

.product-price .price{
    font-size: 1.6rem;
}

.product-saled {
    font-size: 1.2rem;
    color: rgba(0,0,0,.54);
    margin-left: 5px;
}

.see-more {
    display: flex;
    justify-content: center;
}

.btn-see-more {
    margin: 25px 0 60px;
    width: 390px;
    height: 40px;
    box-shadow: 0 .0625rem .125rem 0 rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.09);
    color: #555;
    background-color: var(--white-color);
    text-transform: capitalize;
    font-size: 1.4rem;
    text-align: center;
    line-height: 40px;
}

.btn-see-more:hover {
    background: rgba(0,0,0,.02);
}

/* Footer */
footer {
    border-top: 4px solid var(--orange-color);
    background-color: var(--white-color);
}
.footer-list {
    margin-top: 60px;
}
.footer-item {
}
.footer-item__header {
    font-weight: bold;
    text-transform: uppercase;
}
.footer-item__container {
    font-size: 1.2rem;
    padding: 5px 0;
}

/* Banner fixed */
.banner-fixed {
    width: 82px;
    height: 82px;
    background-image: url(../image/fixed/fixed.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 150px;
    right: 240px;
    z-index: 2;
}



